* {
    font-family: 'bariol_regularregular', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    font-family: 'bariol_regularregular', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

li.login,
li.logout {
    position: absolute;
    left: -5000px;
}

.container.container-login form input {
    width: 400px;
    margin: 0 auto;
}

p.login-link.two {
    margin-top: 20px;
}

a.icon > i {
    float: left;
}

input.tags {
    background-color: #43a6ad;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.tags .input-group {
    margin: 6px 0px;
}

.slider-handle.min-slider-handle.round {
    border-radius: 0;
}

form.search-form li.search-choice {
    background: #43a6ad!important;
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px !important;
    padding: 8px 15px !important;
}

form.search-form a.search-choice-close {
    top: 9px !important;
}

form.search-form input.checkbox-inline {
    position: relative;
}

#chat-messages-envelope-responsive {
    display: none;
}

a.anchor.btn.btn-default {
    background: 0;
    color: white;
}

.overlay-small {
    display: block !important;
}

.overlay-right {
    /*background: black;*/
}

.overlay-right.favmsg button {
    display: block !important;
}

.image-section {
    position: relative;
    width: 60%;
    height: 207px;
    background: black;
}

a.btn.btn-default.msgbtn,
a.editprof {
    background: 0;
    color: white;
}

.commentformholder.col-md-7 {
    margin: 0 auto;
    display: block;
    float: none;
}

.file-preview-frame {
    float: none;
    margin: 0 auto;
}

button.navbar-toggle {
    border: 0;
}

@media (max-width: 768px) {

body > nav.navbar-default {
    height: 100px;
    background: #43a6ad;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    display: table;
    width: 100%;
}

}

.image-overlay.profiel button {
    margin-bottom: 0;
}

a.btn.btn-default.ep {
    background: 0;
    color: white;
    margin-right: 20px;
}

.navbar-transparent li a {
    /*font-weight: bold;*/
}

.log-in-btn, .log-in-btn:hover {
    /*font-weight: bold;*/
}

.btn.btn-info.log-in-btn,
.btn,
.form-control {
    border-radius: 7px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    font-size: 16px;
}

.customcb input[type="checkbox"] {
    display:none;
}

.customcb label {
    color: #767777;
    font-size: 14px;
    font-weight: 700;
    color: #636464;
    text-transform: uppercase;
}

.customcb input[type="checkbox"] + label span {
    display:inline-block;
    color: #767777;
    width: 34px;
    height: 45px;
    margin: -1px 14px 0 0;
    vertical-align:middle;
    background:url('../img/unchecked.png') no-repeat;
    background-size: cover;
    cursor:pointer;
    width: 27px;
    height: 34px;
}

.customcb input[type="checkbox"]:checked + label span {
    background:url('../img/checked.png') no-repeat;
    background-size: cover;

}

.custom-checkbox.customcb {
    padding-bottom: 30px;
    padding-left: 0px;
}

.search-form .custom-checkbox.customcb div {
    padding-left: 5px;
}

/*custom radios*/

.customradio label {
    color: #767777;
}

.customradio input[type="radio"] {
    display:none;
}

.customradio label {
    color: #767777;
}

.customradio input[type="radio"] + label span {
    display:inline-block;
    color: #767777;
    width: 34px;
    height: 45px;
    margin: -1px 15px 0 0;
    vertical-align:middle;
    background:url('../img/unchecked.png') no-repeat;
    background-size: cover;
    cursor:pointer;
}

.customradio input[type="radio"]:checked + label span {
    background:url('../img/checked.png') no-repeat;
    background-size: cover;

}

/*end custom radios*/

.oa {
    position: relative;
}

.oa .badge-notify {
    background: #f26c4f;
    position: relative;
    font-size: 10px !important;
    position: absolute;
    left: auto;
    right: -7px;
    top: -7px;
    color: white;

}

.hr {
    width: 100%;
    height: 1px;
    background: #e4e5e4;
    margin-bottom: 30px;
}

.hr.int {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    display: none;
}

h4.orange-title {
    font-weight: bold;
}

.maakmsgprofiel > div {
    display: inline-block;
}

.maakmsgprofiel button.btn-orange-star {
    color: #f69750;
    font-weight: bold;
}

.maakmsgprofiel .button-right.greenbtn a.ep {
    color: #f69750;
    font-weight: bold;
}

.maakmsgprofiel button.btn-green-envelope {
    color: #50b4bb;
    font-weight: bold;
}

.maakmsgprofiel {
    /* display: none; */
    height: 0;
}

.maakmsgprofiel.own {
    display: none !important;
}

body {
    /* overflow-x: hidden; */
}

.maakmsgprofiel div:first-child button {
    margin-right: 10px;
}

.maakmsgprofiel div:last-child button {
    margin-left: 10px;
}

.profile-row {
    background: white;
}

.overlay-right.profiel button {
    color: white;
    border: 1px solid white;
}

.btn.btn-info.log-in-btn,
.navbar-nav li a {
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: none;
}

.navbar-toggle,
nav.internav button.navbar-toggle.collapsed {
    float: left;
    z-index: 1;
}

.buttons-contact button {
    font-weight: bold;
}

.contact-title h3 {
    padding-bottom: 40px;
}

.image-phone {
    text-align: right;
    padding-right: 225px;
    max-height: 500px;
}

.image-phone img {
    /* position: relative; */
    top: -170px;
}

.login-link.two a {
    color: #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
}

a.btn.btn-info.btn-facebook,
button.btn.btn-info.log-in-submit.icon {
    font-weight: bold;
}

p.login-link.geen {
    font-weight: bold;
    font-size: 17px;
}

.alert.abs {
    /*position: absolute;*/
    /*width: 100%;*/
}

.graybg {
    background: #f5f5f5;
}

p.welkom {
    padding-top: 30px;
}

a.oa {
    text-transform: uppercase;
    font-weight: bold;
}

a.profperc {
    font-weight: bold;
    font-size: 14px;
}

body.dashboard {
    background: #F5F5F5;
}

.page-title.dashtitle {
    /*width: 90%;*/
    margin: 0 auto;
    padding: 20px 10px;
    padding-left: 0px;
    width: 926px;
}

.rightdash.bottom-align .badge {
    /* width: 20px; */
    text-align: center;
    display: inline-block;
    padding: 0;
    /* height: 20px; */
    padding: 4px 6px;
    padding: 1px 4px;
    border-radius: 10px;
}

.leftdash {
    position: relative;
}

.leftdashborder {
    position: absolute;
    right: -57px;
    top: 0;
    height: 100%;
    width: 2px;
    border: solid 2px #f5f5f5;
}

.Line {
  width: 2px;
  height: 710px;
  border: solid 2px #f5f5f5;
}

.rightdash.bottom-align {
    padding-left: 105px;
}

.dashboard-container {
    border-radius: 7.5px;
    width: 926px;
    padding: 50px 50px 0 30px;
}

.dashtitle h1 {
    color: #f69750;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -0.1px;
}

.navbar-default {
    height: 110px;
}

.navbar-nav li a {
    line-height: 75px;
    font-size: 16px;
}

.leftdashinner {
    width: 208px;
    overflow: hidden;
}

.leftdashinner p {
    font-size: 18px;
    line-height: 1.56;
}

p.welkom {
    padding-top: 20px;
    margin-bottom: 3px;
}

.smallborder {
  width: 204px;
  height: 2px;
  border: solid 2px #e4e5e4;
  margin-top: 15px;
  margin-bottom: 20px;
}

p.vul {
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #636464;
}

p.progres-percent {
    width: 196px;
    padding-top: 2px;
}

p.progres-percent span {
  width: 32px;
  height: 16px;
  font-family: Bariol;
  font-size: 16px;
  font-weight: 700;
  color: #f18440;
}

p.progres-percent span.zero {
  margin-left: 29px;
}

p.progres-percent span.hundred {
  color: #b1b1b1;
}

.leftdashinner p {
    font-size: 18px;
    line-height: 1.56;
}

.progress {
    width: 202px;
    font-weight: bold;
    background: #d8d8d8;
    height: 3px;
}

.profperc {
    display: block;
    width: 202px;
}

.smallborder.two {
    margin-top: 20px;
    margin-bottom: 25px
}

.progress {
    margin-bottom: 30px;
}

.dashboard-reviews-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #43a6ad;
}

.rightdash p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #636464;

  border-bottom: solid 2px #f5f5f5;
}

.rightdash p span {
    font-weight: bold;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: 0;
}

ul.nav.navbar-nav.bear {
    position: absolute;
    display: none;
}

.bearmask {
    width: 926px;
    margin: 0 auto;
    height: 0;
}

.mobreviewtitle {
    display: none;
}

nav.internav .navbar-nav li a {
    line-height: 50px;
}

nav.internav .navbar-nav li a:hover {
    color: #296a6e;
}

nav.internav .navbar-nav.mainnav li {
    margin-left: 30px;
}

ul.interbear a {
    padding-left: 5px;
    padding-top: 25px;
}

.login-li {
    margin-top: 25px;
}

.login-li button {
    width: 98px;
    font-weight: normal !important;
}

.login-li i.glyphicon.glyphicon-user {
    position: relative;
    left: -5px;
    top: 2px;
}

.contact-title h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 127px;
  padding-bottom: 65px;
}

.container-contact {
    /* height: 646px; */
}

.buttons-contact button {
  width: 261px;
  height: 34px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  color: #636464;
}

.blue-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.1px;
  color: #43a6ad;
  padding-top: 60px;
  padding-bottom: 20px;
}

.wat-qare-div {
    position: relative;
    left: -167px;
}

.wat-qare-div p {
  width: 540px;
  height: 114px;
  font-family: Bariol;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  color: #3b3b3b;
}

.container.container-white.wiq {
    height: 505px;
}

.hoe-werkt-div .blue-title {
    padding-top: 25px;
    padding-bottom: 0px;
}

.clear {
    clear: both;
}

.hoe-werkt-div {
    text-align: center;
}

.hoe-werkt-div p {
  max-width: 707px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #3b3b3b;
  margin: 0 auto;
}

.four-icons .col-white h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #f18440;
}

.four-icons .col-white p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  color: #3b3b3b;
}

.four-icons .col-white img {
    margin-left: 14px;
}

.four-icons .col-white h4 {
    margin-left: 8px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    /*color:    #909 !important;*/
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   /*color:    #909 !important;*/
   /*opacity:  1 !important;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   /*color:    #909 !important;*/
   /*opacity:  1;*/
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   /*color:    #909 !important;*/
}

 .form-control {
  font-size: 14px;
  font-weight: 700;
  color: #636464;
  border-radius: 8px;
}

.srif h3 {
  font-size: 39.8px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -0.1px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.contact-subscribe input, 
.contact-subscribe button {
    width: 259.5px !important;
    height: 34px;
}

#contact h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

#contact {
    text-align: center;
}

#contact .form-group {
    margin-bottom: 10px;
    display: inline-block;
}

#contact .form-group:last-of-type {
    margin-bottom: 5px;
}

#contact form input {
  width: 437.1px;
  height: 34px;
  border-radius: 8px;
  border: 0;
  background-color: #f5f5f5;
  box-shadow: none;
  padding-left: 30px;
}

#contact form textarea {
    width: 437.1px;
    border-radius: 8px;
    border: 0;
    background-color: #f5f5f5;
    box-shadow: none;
    height: 114px;
    padding-left: 30px;
}

#contact button {
  width: 437.1px;
  height: 34px;
  border-radius: 8px;
  background-color: #636464;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.container.footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #3b3b3b;
}

.container.footer p a {
    color: #89C7CB;
}

p.copyright2 {
    padding-bottom: 30px;
}

a.fb {
  width: 15.4px;
  height: 30.2px;
  background-color: 0;
  display: inline-block;
  margin-right: 15px;
}

a.tw {
  width: 38.6px;
  height: 30.2px;
  background-color: 0;
  display: inline-block;
  margin-left: 15px;
}

.leftdashinner p {
    font-size: 18px;
    line-height: 1.56;
}

p.progres-percent {
    margin-bottom: 3px;
}

.navbar-toggle .icon-bar {
  width: 25px;
  height: 4px;
  border-radius: 3.5px;
  background-color: #f18440;
}

.btn.btn-info.log-in-btn.loner {
  position: absolute;
  right: 38px;
  top: 30px;
}

.internav .navbar-toggle {
    margin-top: 30px;
    margin-left: 15px;
}

.btn.btn-info.log-in-btn.loner {
  display: none;
}

h1.login {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 78px;
}

.login-form {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form input {
    width: 450px;
    display: inline-block;
}

.login-form button {
    display: inline-block;
    width: 450px;
    margin-top: 30px;
}

.login-form a.btn-facebook {
    display: inline-block;
    width: 450px;
}

p.login-link.two a {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.38;
  text-align: center;
  color: #636464;
}

p.login-link.geen {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #3b3b3b;
  /* position: absolute; */
  bottom: 20px;
  left: 0;
  right: 0;
  margin-top: 160px;
}

body.login .btn.log-in-btn {
  /*background-color: #296a6e;*/
  /*border-color: #296a6e;*/
}

li.login-li .btn.log-in-btn:hover {
  background-color: #296a6e;
  border-color: #296a6e;
}
/*296a6e*/

body.login,
body.register {
  background: url('../img/loginbackground.jpg') no-repeat;
  background-size: cover;
}

.container-login {
  background-color: transparent;
  background-image: none;
}

h1.register {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 90px !important;
  padding-bottom: 70px;
}

p.haveanaccount {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #3b3b3b;
}

p.login-link.haveanaccount {
    padding-bottom: 10px;
}

html, body {
    min-height: 100%;
}

.profiel h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  margin-top: 35px;
  margin-bottom: 32px;
}

.image-section {
  width: 669px;
  height: 201px;
  border-radius: 7px;
}

.btn-regular {
  width: 136px;
  height: 34px;
}

.image-overlay {
  bottom: 3px;
}

.overlay-left {
    padding-left: 55px;
    float: left;
}

.profile-name {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-top: 8px;
}

a.ep {
  width: 130px;
  height: 34px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
  border: solid 1px #ffffff;
  text-indent: 3px;
}

a.ep i {
  left: -8px;
  top: 2px;
}

.row.profile-row {
  width: 669px;
  background: #fff;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 50px;
  padding-bottom: 30px;
}

body.view-profile {
  background: #F5F5F5;
}

table.wool th,
table.wool td {
    padding-left: 0px !important;
    width: 75px;
}

table.wool td {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  color: #636464;
}

.profile-row h4.orange-title {
    margin-top: 0;
}

.profile-row > .left {
  padding-left: 0;
}

.profile-row > .bottom {
  padding-left: 0;
  padding-right: 0;
  border-top: solid 2px #e4e5e4;
  padding-top: 20px;
}

p.profile-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #636464;
}

.btn-tag {
    background: #43a6ad;
    border: none;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 5px;
}

.profile-row .right h4.orange-title {
    margin-bottom: 15px;
}

.image-section {
  background: black !important;
}

a.btn.btn-default.msgbtn {
  border-color: white;
  border-radius: 8px;
  border: solid 1px #ffffff;
  width: 153px;
  margin-bottom: 0;
  font-weight: 700;
  text-indent: 0;
}

a.btn.btn-default.msgbtn i {
  left: -5px;
  top: 2px;
}

.overlay-right.profiel button {
  border-color: white;
  border-radius: 8px;
  border: solid 1px #ffffff;
  width: 153px;
  margin-top: 0;
  font-weight: 700;
}

.button-right.greenbtn {
  margin-bottom: 10px;
}

body.view-profile {
  overflow-x: hidden;
}

body.profile {
  background: #F5F5F5;
}

.vulprofiel h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  margin-top: 35px;
  margin-bottom: 36px;
}

.file-preview {
  border: 0;
}

.file-preview .close {
  display: none;
}

.vulprofp {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #636464;
}

a.privacy {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #636464;
  border-bottom: 1px solid #636464;
}

a.privacy:hover {
  text-decoration: none;
}

.vulprofielform input[type=submit] {
    background: #f18440;
    border: #f18440;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.inbox.message img {
    width: 84px;
    height: 84px;
}

.containerchat {
  background: #fff;
}

#chat-window .inbox.message .messagebrefirst {
  border-radius: 7px;
  background-color: #f5f5f5;
  widthmax-: 175px;
  margin: 0 auto;
  float: left;
  padding: 10px;
  margin-left: 20px;
}

#chat-window .inbox.message .messagebresecond {
  border-radius: 7px;
  background-color: #87c5c9;
  max-width: 175px;
  margin: 0 auto;
  float: right;
  padding: 10px;
  margin-right: 20px;
}

.firstuser .image {
    width: 84px;
    height: 84px;
    float: left;
}

.seconduser .image {
    width: 84px;
    height: 84px;
    float: right;
}

#chat-window .clear {
    margin-bottom: 20px;
}

#chat-window {
    width: 510px;
    margin: 0 auto;
}

h1.chat {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  margin-bottom: 30px;
}

.containerchat input[type=submit] {
  background-color: #f18440;
  border-color: #f18440;
}
.containerchat textarea {
  background: #f5f5f5;
  border: 0;
}

.Rectangle-85 {
  width: 73px;
  height: 35px;
  border-radius: 7px;
  background-color: #f18440;
}

.messagebrefirst p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #636464;
}

.messagebresecond p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #ffffff;
}

p.overzicht {
  font-size: 16px;
}

.buttons-contact {
  padding-bottom: 228px;
}

.actimage {
  width: 669px;
  height: 200px;
  background: black;
  position: relative;
  border-radius: 7px;
}

.container.acts {
  width: 669px;
  padding: 0;
}

.container.acts .row {
  margin: 0;
}

body.activities {
  background: #F5F5F5;
}

.row.activity {
  background: #fff;
  margin-bottom: 53px !important;
}

.acttags p {
  width: 89px;
  height: 33.7px;
  border-radius: 8px;
  background-color: #43a6ad;
  display: inline-block;
  text-align: center;
  line-height: 33.7px;
  font-size: 13.9px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 5px;
}

.acttags {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.userinfo img {
    width: 85px;
    float: left;
}

.namereviews {
    float: left;
    padding-left: 20px;
    position: relative;
    margin-top: 15px;
}

.modal-dialog {
    z-index: 1041;
}

.actinner {
  padding: 50px 63px 40px 50px;
}

p.actname {
  color: #f18440;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.57;
  margin-bottom: 0;
}

p.actreviews {
  color: #636464;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.57;
  margin-bottom: 0;
}

.namereviews a {
    color: #636464;
    font-size: 30px;
    position: absolute;
    right: -95px;
    top: 0;
}

.actwat {
  border-top: solid 2px #e4e5e4;
  margin-top: 20px;
  padding-top: 15px;
}

.waar {
  float: left;
  margin-right: 75px;
}

.datum {
  float: left;
  margin-right: 75px;
}

.duration {
  float: left;
}

.actwat h4 {
  font-size: 13.9px;
  font-weight: 700;
  line-height: 2.02;
  color: #b1b1b1;
  margin: 0;
}


.actwat p {
  font-size: 15.9px;
  font-weight: 700;
  line-height: 1.39;
  color: #636464;
}

.actdesc {
  border-top: solid 2px #e4e5e4;
  margin-top: 5px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #636464;
}

a.favorite-btn {
  width: 557px;
  height: 34px;
  border-radius: 8px;
  background-color: #ffd35b;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-top: 28px;
}

a .glyphicon {
  top: 2px;
}

.user-details-success {
  width: 557px;
  height: 34px;
  border-radius: 8px;
  background-color: #3cb878;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-top: 28px;
}

.input-group.actdate {
  position: relative;
  display: block;
}

.input-group.actdate input {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    border-radius: 0;
    width: 110px;
}

.input-group.actdate span {
    width: 30px;
    height: 33px;
    cursor: pointer;
    color: #f18440;
    background: 0;
    border: solid 1px #f18440;
    border-radius: 8px;
    padding: 0;
    text-align: center;
}

.input-group.actdate span .glyphicon {
  left: 1px;
}

.actsearch,
.actsearch:hover {
  width: 143px;
  height: 34px;
  border-radius: 8px;
  border: solid 1px #f18440;
  font-size: 14px;
  font-weight: 700;
  color: #f18440;
  display: inline-block;
  text-decoration: none;
  text-indent: -5px;
  line-height: 34px;
  float: left;
}

a.actsearch i {
    top: -2px;
}

a.actsearch i:hover {
  color: #f18440;
}

.actadd,
.actadd:hover {
  width: 143px;
  height: 34px;
  border-radius: 8px;
  border: solid 1px #f18440;
  font-size: 14px;
  font-weight: 700;
  color: #f18440;
  display: inline-block;
  text-decoration: none;
  text-indent: 0px;
  line-height: 34px;
  text-align: center;
  float: right;
  margin-left: 10px;
}

form.actform {
  float: right;
}

.acttoph1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

.acttop {
  position: relative;
  height: 35px;
  width: 100%;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 41px;
}

.activfavdiv a,
.activfavdiv p {
  width: 144px;
  height: 33.7px;
  border-radius: 8px;
  border: solid 1px #ffffff;
  color: #fff;
  font-size: 13.9px;
  font-weight: 700;
  color: #ffffff;
  line-height: 33.7px;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 60px;
  bottom: 10px;
}

.activfavdiv a {
  bottom: 20px;
}

.actimgbg {
  border-radius: 7px;
  background-color: rgba(99, 100, 100, 0.5);
  position: absolute;
  top: 00px;
  left: 0px;
  width: 100%;
  height: 100%;
}

body.invites {
  background: #F5F5F5;
}

body.my-activities {
  background: #F5F5F5;
}

body.add-activity {
  background: #F5F5F5;
}

body.activities-search {
  background: #F5F5F5;
}

body.profiles-search {
  background: #F5F5F5;
}

.invitesh1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -0.1px;
    text-align: center;
    color: #f18440;
    text-align: center;
}

.row.chatinvites {
  margin-bottom: 30px !important;
}

.actstatus {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
}

.addnewact {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  margin-top: 38px;
}

.addactform input[type="submit"] {
  background: #f18440;
  border: 1px solid #f18440;
}

.addnewtagbtn,
.addnewtagbtn:hover {
  background: #f18440;
  border: 1px solid #f18440;
}

.addactform .tags input {
  border-radius: 8px;
  background-color: #43a6ad;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.addactform input,
.addactform textarea {
  border: 0;
  text-align: center;
}

.vulprofielform input,
.vulprofielform textarea {
  border: 0;
  text-align: center;
}

.form-control.file-caption.kv-fileinput-caption {
    border: 0;
}

.customradio.vulprofradios label {
    margin-right: 20px;
}

.file-input .btn-primary {
  background: #f18440;
  border: 1px solid #f18440;
}

.customradio.labelstyle label {
  font-size: 14px;
  font-weight: 700;
  color: #636464;
  text-transform: uppercase;
}

.zoekenact {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
  margin-top: 35px;
  margin-bottom: 35px;
}

.zoekenactform {
  width: 450px;
  /* background: red; */
  margin: 0 auto;
}

.zoekenactform input {
  border: 0;
}

.slider.slider-horizontal .slider-track {
  height: 3px;
}

.slider-track {
  background: #e4e5e4;
}

.tooltip-arrow {
  display: none;
}

.tooltip-inner {
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #f18440;
}

.kiesafstand {
  position: relative;
}

span.kmlimit {
    position: absolute;
    right: -25px;
    top: 11px;
    font-size: 16px;
    font-weight: 700;
    color: #b1b1b1;
}

.zoekenactform p.kies {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  color: #636464;
}

.row.custom-checkbox.customcb > div {
    padding-top: 0px;
}

.zoekenactform .custom-checkbox.customcb {
  padding-bottom: 0;
}

.chosen-container-multi .chosen-choices {
  border: 0;
  /* height: 34px !important; */
}

.chosen-container-multi .chosen-choices li.search-field {
  margin-top: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  border-radius: 8px;
  background-color: #43a6ad !important;
  border: 0;
}

.zoekenactform .btn-info {
  padding: 0;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
}

.zoekenactform .btn-info i {
  top: -1px;
}

.profsearch span.kmlimit {
  top: -27px;
  right: -26px;
}

body.profiles {
  background: #F5F5F5;
}

.profilesh1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #f18440;
}

div.search-form {
    width: 668px;
}

.favorites-image img {
  width: 85px;
}

.row.favorite-row {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
}

.favorites-info {
  position: relative;
  top: -10px;
}

.col-xs-2.text-center.cancelfav {
    position: absolute;
    top: 0;
    right: -20px;
}

body.favorites {
  background: #F5F5F5;
}

.searchfavorites input {
  width: 668px;
  height: 34.3px;
  border-radius: 8px;
  background-color: #e4e5e4;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #636464;
  padding: 0 40px;
}

.searchfavorites {
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}

.searchfavorites i {
  position: absolute;
  left: 0;
  top: 0;
  color: #636464;
  cursor: default;
}

.row.favorite-row .col-md-6.col-sm-6.col-xs-12 {
    height: 90px;
}

 .modal-dialog .btn-primary,
 .modal-dialog .btn-primary:hover {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

 .modal-dialog .btn-default,
 .modal-dialog .btn-default:hover {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.overlay-right.profiel.notown a {
  margin-bottom: 0;
  color: white;
  border-color: white;
  width: 153px;
}

span.orange-underline a {
  color: #f69750;
}